body {
	background-color: #242424;
	color: #ADADAD;
}

.graphParent {
	width: 1200px;
	height: 700px;
}

.warren__node {
	fill: url(#exampleGradient);
	/* rgb(208, 208, 208); */
}

.warren__line {
	stroke: rgb(77, 77, 77);
	stroke-width: 3px;
}

.warren__text {
	fill: rgb(77, 77, 77);
}