.graphParent {
	width: 1200px;
	height: 700px;
}

svg {
	background-color: #FFFFFF;
}

.warren__node {
	fill: rgb(208, 208, 208);;
}

.warren__line {
	stroke: rgb(77, 77, 77);
	stroke-width: 3px;
}

.warren__text {
	fill: rgb(77, 77, 77);
}